<p id="notice"><%= notice %></p>

<div class="show-stock">

  <aside class="stock-info">
    <header class="title">
      <h1>
        <%= @stock.company %>
      </h1>
    </header>
    <p>
      <%= @stock.ticker %>
    </p>
  </aside>

  <aside class="main-section">
    <header class="price-history">
      <header class="price-info">
        <h4> Price History </h4>
        <div class="current-price"><%= @stock.price %></div>
      </header>
      <div class="price-over-time"></div>
    </header>

    <article class="stocks-posts">
      <ul>
        <% @stockpost.each do |post| %>
        <li>
          <span class="user">
            <% user = User.find(post.user_id)%>
            <h5><%= link_to(user.name, user) %></h5>
          </span>
           <%= post.content %>
         </li>
        <% end %>
      </ul>
    </article>
  </aside>
</div>
<%= link_to 'Back', stocks_path %>
