<nav class='navbar navbar-default'>
  <div class='container-fluid'>
    <div class='navbar-links'>
      <ul>
        <% if logged_in? %>
          <li class="left"> Hi, <%= current_user.name %> <li>
          <li class="right"><%= link_to 'Home', root_path, role: 'button' %></li>
          <li class="right"><%= link_to 'Stocks', stocks_path, role: 'button' %></li>
          <li class="right"><%= link_to 'Profile', current_user, role: 'button' %></li>
          <li class="right" role='presentation'><%= link_to 'Logout', logout_path, method: :delete, role: 'button' %></li>
        <% else %>
          <li class="left"><%= link_to 'Home', root_path, role: 'button' %></li>
          <li class="left"><%= link_to 'Stocks', stocks_path, role: 'button' %></li>
          <li class="right" role='presentation'><%= link_to 'Login', login_path, role: 'button' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
